<div class="col-12">
    <h1 class="text-light">Topics</h1>
</div>
<div class="col-10 offset-1">
      <button class="ancho3"  (click)="selectTopic(t.id)" *ngFor="let t of temas "> {{ t.nombre }}</button>
    <!-- <div class="card text-dark bg-info" style="width: 20rem;" *ngFor="let t of temas " >
      <div class="card-body" (click)="selectTopic(t.id)">
          <h5 class="card-title">{{ t.nombre }}</h5>
      </div>
  </div>-->
</div>

<!-- Modal -->
<!-- <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">...</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" >
      Close
    </button>
    <button type="button" class="btn btn-primary">Save changes</button>
  </div> -->
