.body {
    display: flex;
    justify-content: center;
    row-gap: 3em;
    height: 200%;
    align-items: center;
    background-color:#001C40;
   
}

.login {
    width: 100%;
    max-width: 330px;
    text-align: center;
    color:#fff;
    border-radius:30px;
     height: 100%;
}

.ancho {
    width: 100%;
    height: 150%;
    background:#39CCD5;
    color:#fff;
    border-radius:20px;
}

.fondo {
    background-color:#001C40;
    width: 100%;
    height: 200%;
}

.tam {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -100;
    background-size: cover;
}

.card {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 100%;
    height: 100%;
}
